@charset "UTF-8";
html, body {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

body {
  background: #fff;
  font-family: "微软雅黑",Arial , Helvetica, Tahoma;
  font-size: 16px;
  color: #fff;
}

body, h1, h2, h3, h4, h5, h6, form {
  margin: 0px;
  padding: 0px;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: none;
}

img {
  border: 0;
}

dl {
  margin: 0;
  padding: 0;
}

dl dd {
  margin: 0;
}

.float_left {
  float: left;
}

.float_right {
  float: right;
}

.clear {
  clear: both;
  line-height: 0;
  padding: 0;
  margin: 0;
}

/*******全屏切换********/
.bodys {
  background: url(../img/common/bg.jpg) center center no-repeat;
  background-size: cover;
}

.bodys .bgvideo {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: url(../img/common/bg2.png) right center no-repeat;
  background-size: cover;
  z-index: 2;
}

.bodys .bgvideo1 {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 1;
}

.bodys .bgvideo1 video {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  min-width: 100%;
  min-height: 100%;
  height: auto;
  width: auto;
  /*加滤镜*/
  /*-webkit-filter: grayscale(100%);*/
  /*filter:grayscale(100%);*/
}

.bodys .bgvideo1 video source {
  min-width: 100%;
  min-height: 100%;
  height: auto;
  width: auto;
}

.bodys .bgvideo2 {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 10px;
  overflow: hidden;
  z-index: 100;
}

.bodys .bgvideo2 video {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}

.fullslide {
  width: 100%;
  height: 100%;
  position: relative;
}

.fullslide .tempWrap {
  width: 100% !important;
  height: 100%;
}

.fullslide .section {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden !important;
}

.fullslide .fullslide_bd {
  position: relative;
  z-index: 2;
}

.fullslide .fullslide_hd {
  position: absolute;
  right: 0;
  top: 50%;
  width: 110px;
  margin-top: -200px;
  z-index: 3;
  transition: right 0.5s;
}

.fullslide .fullslide_hd img.subiao {
  display: block;
  position: absolute;
  bottom: -80px;
  left: 34px;
}

.fullslide .fullslide_hd ul {
  padding-top: 0;
  width: 110px;
  float: right;
}

.fullslide .fullslide_hd ul li {
  width: 110px;
  font-size: 20px;
  line-height: 60px;
  cursor: pointer;
  color: #b0acad;
}

.fullslide .fullslide_hd ul li.on, .fullslide .fullslide_hd ul li:hover {
  color: #fff;
  font-weight: bold;
}

.fullslide .fullslide_bd, .fullslide .fullslide_bd .box {
  width: 100%;
  height: 100%;
}

/*******全屏切换-END********/
.bgStyle {
  display: block;
  width: 100%;
  height: 100%;
}

/*******首屏********/
/**背景视频**/
.bannerAction {
  position: relative;
}

.bannerAction .danghui {
  width: 1000px;
  height: 0;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  margin: 0 auto;
}

.bannerAction .danghui img {
  display: block;
  position: absolute;
  top: 50px;
  left: -50px;
}

.bannerAction .syText {
  width: 975px;
  height: 330px;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  margin: -180px auto 0;
  z-index: 3;
}

.bannerAction .syText img {
  display: block;
}

.bannerAction .ph {
  width: 500px;
  height: 100px;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
  overflow: hidden;
}

.bannerAction .ph img {
  display: block;
  width: 100%;
  height: 100%;
}

.sbbtn {
  width: 70px;
  height: 27px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 40px;
  margin: auto;
  z-index: 3;
}

.sbbtn h1 {
  font-size: 14px;
  color: red;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 5px;
  text-align: center;
}

.sbbtn img {
  display: block;
  margin: 0 auto;
}

/*******首屏-END********/
/*******2两会要闻********/
.a2content {
  width: 1195px;
  height: 452px;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  margin: -226px auto 0;
}

.a2content div.leftbox {
  width: 549px;
  float: left;
  background: url(../img/a2/a2-1.png) left top no-repeat;
  padding-top: 134px;
}

.a2content div.leftbox h1 {
  font-size: 24px;
  height: 31px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.a2content div.leftbox ul {
  padding-top: 15px;
  font-size: 16px;
  line-height: 40px;
}

.a2content div.leftbox ul li:hover {
  padding-left: 10px;
  transition: all 0.5s;
  -moz-transition: all 0.5s;
  /* Firefox 4 */
  -webkit-transition: all 0.5s;
  /* Safari 和 Chrome */
  -o-transition: all 0.5s;
}

.a2content div.leftbox ul li a {
  display: block;
  background: url(../img/common/dian.jpg) left center no-repeat;
  padding-left: 15px;
  height: 40px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.a2content div.leftbox img.more {
  display: block;
  padding-top: 18px;
}

.a2content div.rightbox {
  width: 646px;
  height: 452px;
  float: right;
  background: url(../img/a2/a2-2.png) center left no-repeat;
}

.a2content div.rightbox #slideBox_a2 {
  width: 600px;
  height: 350px;
  padding: 76px 0 0 20px;
}

.a2content div.rightbox #slideBox_a2 .hd_a2 {
  position: absolute;
  z-index: 1;
  top: 198px;
  right: 0;
}

.a2content div.rightbox #slideBox_a2 .hd_a2 ul li {
  background: #999;
  width: 10px;
  height: 10px;
  margin-top: 9px;
  border-radius: 50%;
}

.a2content div.rightbox #slideBox_a2 .hd_a2 ul li.on {
  background: #02d4fe;
}

.a2content div.rightbox #slideBox_a2 .bd_a2 {
  width: 100%;
  height: 100%;
  position: relative;
}

.a2content div.rightbox #slideBox_a2 .bd_a2 ul li {
  height: 350px;
  position: relative;
}

.a2content div.rightbox #slideBox_a2 .bd_a2 ul li img {
  display: block;
  width: 100%;
  height: 100%;
}

.a2content div.rightbox #slideBox_a2 .bd_a2 ul li h1 {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  color: #fff;
  text-align: center;
  font-size: 16px;
  height: 40px;
  line-height: 40px;
  background: rgba(0, 0, 0, 0.4);
  z-index: 2;
}

/*******2两会要闻-END********/
/*******3聚焦重庆团********/
.a3content {
  width: 1193px;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  margin: -246px auto 0;
}

.a3content div.titimg {
  background: url(../img/a3/2_03.png);
  width: 1193px;
  height: 108px;
}

.a3content div.titimg img {
  display: block;
  float: right;
  padding: 47px 7px 0 0;
}

.a3content ul.fourimg {
  width: 1179px;
  margin: 22px auto 0;
  display: flex;
  justify-content: space-between;
}

.a3content ul.fourimg li {
  width: 290px;
}

.a3content ul.fourimg li div.img {
  width: 100%;
  height: 156px;
  position: relative;
}

.a3content ul.fourimg li div.img img {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.a3content ul.fourimg li div.img img:first-child {
  z-index: 2;
  display: none;
}

.a3content ul.fourimg li div.img img:last-child {
  z-index: 1;
}

.a3content ul.fourimg li div.title {
  height: 80px;
}

.a3content ul.fourimg li div.title a {
  display: block;
  font-size: 20px;
  line-height: 24px;
  padding: 16px 14px 0;
  display: block;
  display: -webkit-box;
  /* autoprefixer: off */
  -webkit-box-orient: vertical;
  /* autoprefixer: on */
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
}

.a3content ul.articlelist {
  width: calc(1179px - 52px);
  height: 70px;
  padding: 15px 26px;
  margin: 26px auto 0;
  overflow: hidden;
  background: url(../img/a3/2_21.png);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.a3content ul.articlelist li {
  width: 310px;
}

.a3content ul.articlelist li:hover {
  width: 300px;
  padding-left: 10px;
  transition: all 0.5s;
  -moz-transition: all 0.5s;
  /* Firefox 4 */
  -webkit-transition: all 0.5s;
  /* Safari 和 Chrome */
  -o-transition: all 0.5s;
}

.a3content ul.articlelist li a {
  padding-left: 15px;
  display: block;
  background: url(../img/common/dian.jpg) left center no-repeat;
  height: 21px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/*******3聚焦重庆团-END********/
/*******4融媒策划********/
.a4content {
  width: 1193px;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  margin: -241px auto 0;
}

.a4content img.titimg {
  display: block;
}

.a4content .a4_box {
  overflow: hidden;
}

.a4content .a4_box .a4_left {
  width: 233px;
  height: 374px;
  float: left;
  background: url(../img/a4/a4-2.png) center bottom no-repeat;
}

.a4content .a4_box .a4_left h1 {
  font-size: 22px;
  line-height: 36px;
  padding: 170px 0 0 20px;
}

.a4content .a4_box .a4_left img.more {
  display: block;
  position: absolute;
  left: 20px;
  bottom: 20px;
}

.a4content .a4_box .a4_right {
  width: calc(940px - 35px);
  height: calc(353px - 30px);
  padding: 30px 0 0 35px;
  float: right;
  margin-top: 20px;
  background: url(../img/a4/a4-3.png) left center no-repeat;
}

.a4content .a4_box .a4_right div.btn {
  width: 143px;
  height: 36px;
  font-size: 20px;
  text-align: center;
  line-height: 36px;
  float: left;
  margin-right: 20px;
}

.a4content .a4_box .a4_right div.btn.on {
  background: url(../img/a4/a4-4.png);
}

.a4content .a4_box .a4_right div.cntt {
  overflow: hidden;
}

.a4content .a4_box .a4_right div.cntt img.jdt {
  float: left;
  display: block;
  width: 355px;
  height: 223px;
  border: 1px solid #3445e3;
  border-radius: 14px;
  margin-top: 10px;
}

.a4content .a4_box .a4_right div.cntt ul.liebiao {
  float: right;
  width: 515px;
}

.a4content .a4_box .a4_right div.cntt ul.liebiao li {
  font-size: 16px;
  line-height: 40px;
}

.a4content .a4_box .a4_right div.cntt ul.liebiao li:hover {
  padding-left: 10px;
  transition: all 0.5s;
  -moz-transition: all 0.5s;
  /* Firefox 4 */
  -webkit-transition: all 0.5s;
  /* Safari 和 Chrome */
  -o-transition: all 0.5s;
}

.a4content .a4_box .a4_right div.cntt ul.liebiao li a {
  display: block;
  background: url(../img/common/dian.jpg) left center no-repeat;
  padding-left: 15px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  height: 40px;
}

/*******4融媒策划-END********/
/************5一起读报告*************/
.a5content {
  width: 1193px;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  margin: -239px auto 0;
}

.a5content img.titimg {
  display: block;
}

.a5content div.a5_box {
  position: relative;
  padding-top: 35px;
}

.a5content div.a5_box div.a5_left h1 {
  width: 570px;
  font-size: 24px;
  line-height: 46px;
  height: 46px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.a5content div.a5_box div.a5_left ul {
  width: 570px;
}

.a5content div.a5_box div.a5_left ul li {
  font-size: 16px;
  line-height: 55px;
  height: 55px;
  margin: 10px 0;
  background: url(../img/a5/a5-2.png) left center no-repeat;
  padding-left: 15px;
}

.a5content div.a5_box div.a5_left ul li:hover {
  padding-left: 10px;
  transition: all 0.5s;
  -moz-transition: all 0.5s;
  /* Firefox 4 */
  -webkit-transition: all 0.5s;
  /* Safari 和 Chrome */
  -o-transition: all 0.5s;
  padding-left: 20px;
}

.a5content div.a5_box div.a5_left ul li a {
  height: 55px;
  padding-left: 15px;
  display: block;
  background: url(../img/common/dian.jpg) left center no-repeat;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.a5content div.a5_box div.a5_left img.more {
  display: block;
  padding-top: 4px;
}

.a5content div.a5_box div.threeimg {
  position: absolute;
  left: 500px;
  top: 30px;
}

.a5content div.a5_box div.threeimg div.xiao {
  position: absolute;
  left: 0;
  top: 0;
  width: 243px;
  height: 287px;
  margin: 25px;
  background-image: url(../img/a5/a5-3.png);
  background-repeat: no-repeat;
}

.a5content div.a5_box div.threeimg div.xiao:first-child {
  left: 0;
  padding: 6px 0 0 6px;
  background-position: left top;
}

.a5content div.a5_box div.threeimg div.xiao:nth-child(2) {
  margin-top: 0;
  width: 279px;
  height: 331px;
  padding: 6px 8px 0 0;
  background-image: url(../img/a5/a5-4.png);
  background-position: right top;
  left: 196px;
}

.a5content div.a5_box div.threeimg div.xiao:nth-child(3) {
  left: 430px;
  padding: 6px 8px 0 0;
  background-position: right top;
}

/************5一起读报告-END*************/
/************6汇聚好声音*************/
.a6content {
  width: 1193px;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  margin: -310px auto 0;
  /* 3d轮播图样式 */
}

.a6content img.titimg {
  display: block;
}

.a6content #wrap3d {
  width: 1000px;
  margin: 0 auto;
  opacity: 0;
  position: relative;
}

.a6content .cloud9-item {
  position: relative;
  display: inline-block;
  width: 200px;
  height: 320px;
  opacity: 0.98;
  cursor: pointer;
}

.a6content .cloud9-item.active .h5-mask {
  display: none;
  background: transparent;
}

.a6content .cloud9-item.active:after {
  display: none;
}

.a6content .cloud9-item.active.show-code .h5-mask {
  display: block;
  background: #000;
  background: rgba(0, 0, 0, 0.7);
}

.a6content .cloud9-item.active.show-code .code {
  display: inline-block;
}

.a6content .cloud9-item.active.show-code p {
  display: block;
}

.a6content .cloud9-item.active a {
  transition: all 0.3s ease;
}

.a6content .cloud9-item.active a:hover {
  transform: scale(1.45);
}

.a6content .cloud9-item a {
  position: relative;
  display: block;
  width: 200px;
  height: 320px;
}

.a6content .cloud9-item a span {
  width: 100%;
  height: auto;
  position: absolute;
  left: 0;
  bottom: 0;
  background: rgba(1, 1, 1, 0.5);
  font-size: 14px;
  color: #ffffff;
  overflow: hidden;
  line-height: 20px;
  padding: 5px 0;
}

.a6content .cloud9-item:after {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  content: "";
}

.a6content .cloud9-item .img-h5bg {
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.a6content .h5-mask {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  background: #000;
  background: rgba(0, 0, 0, 0.1);
}

.a6content .h5-mask .code {
  display: none;
  margin-top: 90px;
  width: 100px;
  height: 100px;
  margin-bottom: 20px;
}

.a6content .h5-mask p {
  display: none;
  width: 100%;
  text-align: center;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font: normal 16px SimHei;
  color: #fff;
}

.a6content #showcase {
  width: 1100px;
  height: 512px;
  margin-left: -49px;
}

/************6汇聚好声音-END*************/
/************7两会V观*************/
.a7content {
  width: 1193px;
  height: 550px;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  margin: -226px auto 0;
}

.a7content img.titimg {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
}

.a7content div.liuyanban {
  width: 1090px;
  height: 530px;
  padding: 10px;
  background: #fff;
  background: rgba(255, 255, 255, 0.4);
  position: absolute;
  left: 80px;
  top: 0;
}

.a7content div.liuyanban img.topimg {
  display: block;
  position: absolute;
  left: 0;
  top: -41px;
}

.a7content div.liuyanban #hualong {
  height: 100% !important;
  overflow: auto !important;
  background: #fff !important;
  padding: 0 20px;
  width: auto !important;
}

/************7两会V观-END*************/
/*********动画效果**********/

@keyframes part {
  0% {
    margin-top: 0;
  }
  50% {
    margin-top: 15px;
  }
  100% {
    margin-top: 0;
  }
}

.hero {
  animation: 'part' 1.5s ease-in-out 0s infinite;
  -o-animation: 'part' 1.5s ease-in-out 0s infinite;
  -webkit-animation: 'part' 1.5s ease-in-out 0s infinite;
}

@keyframes part1 {
  from {
    filter: alpha(opacity=0);
    -moz-opacity: 0;
    opacity: 0;
    transform: scale(8, 8);
  }
  to {
  }
}

.hero1 {
  animation: 'part1' 1s ease-in-out 0s normal;
  -o-animation: 'part1' 1s ease-in-out 0s normal;
  -webkit-animation: 'part1' 1s ease-in-out 0s normal;
}

@keyframes part2 {
  from {
    filter: alpha(opacity=0);
    -moz-opacity: 0;
    opacity: 0;
    transform: scale(8, 8);
  }
  42.8% {
    filter: alpha(opacity=0);
    -moz-opacity: 0;
    opacity: 0;
    transform: scale(8, 8);
  }
  to {
  }
}

.hero2 {
  animation: 'part2' 1.5s ease-in-out 0s normal;
  -ms-animation: part2 1.5s ease-in-out 0s normal;
  -moz-animation: part2 1.5s ease-in-out 0s normal;
  -o-animation: 'part2' 1.5s ease-in-out 0s normal;
  -webkit-animation: 'part2' 1.5s ease-in-out 0s normal;
}

/*********动画效果-END**********/
/*# sourceMappingURL=a1.css.map */